<div class="main">
  <div class="main-body">
    <router-outlet></router-outlet>
  </div>
    <div class="main-footer">
      <div class="main-footer-icon ion-activatable">
        <ion-icon name="add-circle"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="main-footer-icon ion-activatable">
        <ion-icon name="school"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="main-footer-icon ion-activatable">
        <ion-icon  name="bookmark"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
</div>
