<div class="main">
  <div class="main-body">
    <router-outlet></router-outlet>
  </div>
    <div class="main-footer">
      <div class="main-footer-icon ion-activatable" routerLink="/main/add-question"
      [class.main-footer-icon-active]="currentSelectedFooter == footerState.ADD_QUESTION">
        <ion-icon name="add-circle"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="main-footer-icon ion-activatable" routerLink="/main/my-profile"
      [class.main-footer-icon-active]="currentSelectedFooter == footerState.MY_PROFILE">
        <ion-icon name="school"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="main-footer-icon ion-activatable" routerLink="/main/all-questions"
      [class.main-footer-icon-active]="currentSelectedFooter == footerState.ALL_QUESTIONS">
        <ion-icon  name="bookmark"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
</div>
